{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="pageContact">
        <div class="wrap">
            <h2>Nous contacter</h2>
            <p>Vous désirez nous contacter ? <br>Remplissez le formulaire ci-dessous !</p>
            {{ form_start(form) }}
                {{ form_widget(form.firstname) }}
                {{ form_widget(form.lastname) }}
                {{ form_widget(form.message) }}
                {{ form_widget(form.phone) }}
                {{ form_widget(form.email) }}
                <div style="margin: 0 auto;">
                {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
            <div class="calendar">
                <h3>Horaires</h3>
                <div class="hours week">
                    <p>LUNDI</p>
                    <p>
                        {% if openings.Lundi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Lundi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>MARDI</p>
                    <p>
                        {% if openings.Mardi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Mardi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>MERCREDI</p>
                    <p>
                        {% if openings.Mercredi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Mercredi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>JEUDI</p>
                    <p>
                        {% if openings.Jeudi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Jeudi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>VENDREDI</p>
                    <p>
                        {% if openings.Vendredi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Vendredi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>SAMEDI</p>
                    <p>
                        {% if openings.Samedi == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Samedi }}
                        {% endif %}
                    </p>
                </div>
                <div class="hours week">
                    <p>DIMANCHE</p>
                    <p>
                        {% if openings.Dimanche == "" %}
                            Fermé
                        {% else %}
                            {{ openings.Dimanche }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
