{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}

<div class="menu">
    <h1 class="menu-title">Menu</h1>
    <div class="leaf-0">
        <img src="./assets/img/leaf-0.png" alt="leaf-0">
    </div>

    
    {% for subCategory in subCategories %}
        <h2 class="menu-category"> {{ subCategory.name }} </h2>
        {% for category in subCategory.dishCategories %}
        <div class="menu-div">
            <p class="menu-subCategory">{{ category.name }}</p>
            {% for dishe in category.dishes %}
            <div class="menu-dishe">
                <div class="menu-dishe-left">
                    <p class="menu-name">{{ dishe.name }}</p>
                    <p class="menu-description">{{ dishe.description|raw }}</p>
                </div>
                <div class="menu-dishe-right">
                    <p class="menu-price">{{ dishe.price }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
    <div class="leaf-0">
        <img src="./assets/img/leaf-0.png" alt="leaf-0">
    </div>
</div>

{% endblock %}
